{% extends 'base_layout.html' %}
{% block content %}
    <h1>Database table</h1>
    <p><a href="/">Back to homepage.</a></p>
    <p>Add new entry:</p>
<!--    <div class = "tickets">-->
<!--        <table style="width:100%">-->
<!--            <tr>-->
<!--                <th>Code</th>-->
<!--                <th>Bug</th>-->
<!--                <th>Created</th>-->
<!--                <th>Assignee</th>-->
<!--                <th>Due</th>-->
<!--                <th>Status</th>-->
<!--                <th>Severity</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th><input type="text" id="code" name="comment" value=""></th>-->
<!--                <th><input type="text" id="bug" name="comment" value=""></th>-->
<!--                <th><input type="text" id="created" name="comment" value=""></th>-->
<!--                <th><input type="text" id="assignee" name="comment" value=""></th>-->
<!--                <th><input type="text" id="due" name="comment" value=""></th>-->
<!--                <th><input type="text" id="status" name="comment" value=""></th>-->
<!--                <th><input type="text" id="severity" name="comment" value=""></th>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
    <form action="/add_to_database/" method="post">
        {% csrf_token %}
        {{ ticket_form.as_p }}
        <p>Submit new database entry:</p><input type="submit" value="Submit ticket">
    </form>
{% endblock %}