<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Ticketing System Homepage</h1>
        <p>Welcome! Below you will find a list of available databases and functionality.</p>
    <h2>Databases</h2>
        <p><a href="view_database/">Database for all tickets.</a></p>
        <p><a href="view_databasetwo/">Database for all of Bob's tickets.</a></p>
    <h2>Database functionality</h2>
        <p><a href="add_to_database/">Add database entry</a></p>
        <p><a href="">Find a ticket (in progress)</a></p>
        <p>You can now delete tickets! To do so, navigate to the main database table
            and click on 'delete' under the corresponding entry.<p>
    <h2>Account functionality</h2>
        <p><a href="accounts/signup/">Sign up</a></p>
        <p><a href="accounts/login/">Log in</a></p>
</body>
</html>